
body {
    background-color: rgb(253, 247, 238);
    border: 50px solid rgb(105, 20, 5);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    max-width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

}

.reccontainer {
    padding: 10px 20px 25px 10px;
    max-width: 700px;
    margin: 0 auto;

}

.rectitle {
    text-align: center;
    color: rgb(26, 15, 2);
    padding: 10px;
 

}

.ingredients {
    padding-top: 15px;
    margin-left: 50px;
    margin-top: 0px;
    border-top: 5px dotted rgb(226, 134, 13);
    
    color: rgb(26, 15, 2);

    
}

.inglist {
    
    padding-left: 120px;
    margin-bottom: 50px;
    color: rgb(26, 15, 2);


}

.directions {
    padding-top: 15px;
    margin-left: 50px;
    margin-top: 0px;
    border-top: 5px dotted rgb(226, 134, 13);
    
    color: rgb(26, 15, 2);

}

.dirlist {
    padding-left: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    color: rgb(26, 15, 2);


}

button {
    background-color: rgb(253, 247, 238);
    color: rgb(26, 15, 2);
    text-align: center;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-shadow: rgb(26, 15, 2) 5px 5px 10px;
    font-family: "Hobo STD", sans-serif;
    transition: ease 0.5s;
    margin-bottom: 25px;

}
button:hover {
    cursor: pointer;
    background-color: rgb(226, 134, 13);
}
a {
    color: rgb(26, 15, 2);
    text-decoration: none;
}